<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<dict>
		<key>Images</key>
		<array>
			<string>bg_1.jpg</string>
			<string>bg_2.jpg</string>
			<string>bg_3.jpg</string>
			<string>bg_4.jpg</string>
			<string>bg_5.jpg</string>
			<string>bg_6.png</string>
		</array>
		<key>Labels</key>
		<array>
			<dict>
				<key>Header</key>
				<string></string>
				<key>Label</key>
				<string></string>
			</dict>
			<dict>
				<key>Header</key>
				<string></string>
				<key>Label</key>
				<string></string>
			</dict>
			<dict>
				<key>Header</key>
				<string></string>
				<key>Label</key>
				<string></string>
			</dict>
			<dict>
				<key>Header</key>
				<string></string>
				<key>Label</key>
				<string></string>
			</dict>
			<dict>
				<key>Header</key>
				<string></string>
				<key>Label</key>
				<string></string>
			</dict>
			<dict>
				<key>Header</key>
				<string></string>
				<key>Label</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
